.ruta-even:nth-last-of-type(1) {
    background-color: #DFC389;
}

.ruta-even:nth-last-of-type(2) {
    background-color: #C5A667;
}

.ruta-even:nth-last-of-type(3) {
    background-color: #DFC389;
}

.ruta-even:nth-last-of-type(4) {
    background-color: #C5A667;
}

.ruta-even:nth-last-of-type(5) {
    background-color: #DFC389;
}

.ruta-even:nth-last-of-type(6) {
    background-color: #C5A667;
}

.ruta-even:nth-last-of-type(7) {
    background-color: #DFC389;
}

.ruta-even:nth-last-of-type(8) {
    background-color: #C5A667;
}

.ruta-odd:nth-last-of-type(1) {
    background-color: #C5A667;
}

.ruta-odd:nth-last-of-type(2) {
    background-color: #DFC389;
}

.ruta-odd:nth-last-of-type(3) {
    background-color: #C5A667;
}

.ruta-odd:nth-last-of-type(4) {
    background-color: #DFC389;
}

.ruta-odd:nth-last-of-type(5) {
    background-color: #C5A667;
}

.ruta-odd:nth-last-of-type(6) {
    background-color: #DFC389;
}

.ruta-odd:nth-last-of-type(7) {
    background-color: #C5A667;
}

.ruta-odd:nth-last-of-type(8) {
    background-color: #DFC389;
}

.ruta-even {
    width: 12.5%;
    height: 100%;
    border: solid;
    border-width: 2px;
    border-color: #BE9542;
    justify-content: center;
    align-items: center;
    display: flex;
}

.ruta-odd {
    width: 12.5%;
    height: 100%;
    border: solid;
    border-width: 2px;
    border-color: #BE9542;
    justify-content: center;
    align-items: center;
    display: flex;
}

.row-1 {
    height: 12.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.row-2 {
    height: 12.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.row-3 {
    height: 12.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.row-4 {
    height: 12.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.row-5 {
    height: 12.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.row-6 {
    height: 12.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.row-7 {
    height: 12.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.row-8 {
    height: 12.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
