@import 'typhography.css';

body {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.ram {
    justify-content: center;
    align-items: center;
    display: flex;
    border-style: solid;
    border-color: #A57513;
    border-width: 1.5rem;
}



.bräde {
    display: flex;
    height: 30rem;
    width: 30rem;
    flex-direction: column;
    font-size: 30px;
    
}

.grid-ram {
    border: 1.5rem solid #A57513;
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    grid-auto-flow: row;
    margin-bottom: 5rem;
}